// *Variables
// Colors
$c-white: #ffff;
$c-dark-blue: #0c4c5c;
$c-blue: #2096f3;
$c-yellow: #f7e942;
$c-red: #ff5c5c;

// Font
$fs-base: 16px;

// Transition
$t-normal: 0.45s cubic-bezier(0.01, 1, 0.63, 1);
